.highlight {
    background-color: #f5f5f5;
    padding: 7px 7px 7px 10px;
    overflow: auto;
    font-size: 95%;
}

code {
    font-family:'Bitstream Vera Sans Mono','Courier', monospace;
    color: #d8d8d8;
}

.highlighter-rouge { 
    background-color: #f5f5f5; 
    color: #9828d8; 
    font-size: 16px;
}

.highlight .hll { background-color: #448c27 }
.highlight  { background: #f5f5f5; color: #7a3e9d }
.highlight .c { color: #2f2f2f } /* Comment */
.highlight .err { color: #7a3e9d } /* Error */
.highlight .g { color: #7a3e9d } /* Generic */
.highlight .k { color: #4b83cd } /* Keyword */
.highlight .l { color: #7a3e9d } /* Literal */
.highlight .n { color: #7a3e9d } /* Name */
.highlight .o { color: #2f2f2f } /* Operator */
.highlight .x { color: #7a3e9d } /* Other */
.highlight .p { color: #475e7d } /* Punctuation */
.highlight .ch { color: #2f2f2f } /* Comment.Hashbang */
.highlight .cm { color: #2f2f2f } /* Comment.Multiline */
.highlight .cp { color: #2f2f2f } /* Comment.Preproc */
.highlight .cpf { color: #2f2f2f } /* Comment.PreprocFile */
.highlight .c1 { color: #2f2f2f } /* Comment.Single */
.highlight .cs { color: #2f2f2f } /* Comment.Special */
.highlight .gd { color: #8b080b } /* Generic.Deleted */
.highlight .ge { color: #7a3e9d; text-decoration: underline } /* Generic.Emph */
.highlight .gr { color: #7a3e9d } /* Generic.Error */
.highlight .gh { color: #7a3e9d; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #7a3e9d; font-weight: bold } /* Generic.Inserted */
.highlight .go { color: #44475a } /* Generic.Output */
.highlight .gp { color: #7a3e9d } /* Generic.Prompt */
.highlight .gs { color: #7a3e9d } /* Generic.Strong */
.highlight .gu { color: #7a3e9d; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #7a3e9d } /* Generic.Traceback */
.highlight .kc { color: #4b83cd } /* Keyword.Constant */
.highlight .kd { color: #7a3e9d; font-style: italic } /* Keyword.Declaration */
.highlight .kn { color: #4b83cd } /* Keyword.Namespace */
.highlight .kp { color: #4b83cd } /* Keyword.Pseudo */
.highlight .kr { color: #4b83cd } /* Keyword.Reserved */
.highlight .kt { color: #4b83cd } /* Keyword.Type */
.highlight .ld { color: #7a3e9d } /* Literal.Date */
.highlight .m { color: #ab6526 } /* Literal.Number */
.highlight .s { color: #448c27 } /* Literal.String */
.highlight .na { color: #aa3731 } /* Name.Attribute */
.highlight .nb { color: #7a3e9d; font-style: italic } /* Name.Builtin */
.highlight .nc { color: #aa3731 } /* Name.Class */
.highlight .no { color: #7a3e9d } /* Name.Constant */
.highlight .nd { color: #7a3e9d } /* Name.Decorator */
.highlight .ni { color: #7a3e9d } /* Name.Entity */
.highlight .ne { color: #7a3e9d } /* Name.Exception */
.highlight .nf { color: #aa3731 } /* Name.Function */
.highlight .nl { color: #7a3e9d; font-style: italic } /* Name.Label */
.highlight .nn { color: #7a3e9d } /* Name.Namespace */
.highlight .nx { color: #7a3e9d } /* Name.Other */
.highlight .py { color: #7a3e9d } /* Name.Property */
.highlight .nt { color: #2f2f2f } /* Name.Tag */
.highlight .nv { color: #7a3e9d; font-style: italic } /* Name.Variable */
.highlight .ow { color: #2f2f2f } /* Operator.Word */
.highlight .w { color: #7a3e9d } /* Text.Whitespace */
.highlight .mb { color: #ab6526 } /* Literal.Number.Bin */
.highlight .mf { color: #ab6526 } /* Literal.Number.Float */
.highlight .mh { color: #ab6526 } /* Literal.Number.Hex */
.highlight .mi { color: #ab6526 } /* Literal.Number.Integer */
.highlight .mo { color: #ab6526 } /* Literal.Number.Oct */
.highlight .sa { color: #448c27 } /* Literal.String.Affix */
.highlight .sb { color: #448c27 } /* Literal.String.Backtick */
.highlight .sc { color: #448c27 } /* Literal.String.Char */
.highlight .dl { color: #448c27 } /* Literal.String.Delimiter */
.highlight .sd { color: #448c27 } /* Literal.String.Doc */
.highlight .s2 { color: #448c27 } /* Literal.String.Double */
.highlight .se { color: #448c27 } /* Literal.String.Escape */
.highlight .sh { color: #448c27 } /* Literal.String.Heredoc */
.highlight .si { color: #448c27 } /* Literal.String.Interpol */
.highlight .sx { color: #448c27 } /* Literal.String.Other */
.highlight .sr { color: #448c27 } /* Literal.String.Regex */
.highlight .s1 { color: #448c27 } /* Literal.String.Single */
.highlight .ss { color: #448c27 } /* Literal.String.Symbol */
.highlight .bp { color: #7a3e9d; font-style: italic } /* Name.Builtin.Pseudo */
.highlight .fm { color: #aa3731 } /* Name.Function.Magic */
.highlight .vc { color: #7a3e9d; font-style: italic } /* Name.Variable.Class */
.highlight .vg { color: #7a3e9d; font-style: italic } /* Name.Variable.Global */
.highlight .vi { color: #7a3e9d; font-style: italic } /* Name.Variable.Instance */
.highlight .vm { color: #7a3e9d; font-style: italic } /* Name.Variable.Magic */
.highlight .il { color: #ab6526 } /* Literal.Number.Integer.Long */
